# Python bytecode files
__pycache__/
__pyccache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 
logs/

# Experiment artifacts
wandb/
visualizations/
checkpoints/
src/autoreg_ctx/scripts/checkpoints_re/
models/
*.ckpt
*.png
*.jsonl
*.pkl